body {
  background-image: url(../BAHAN/Stupa_Borobudur.jpg);
  background-size: cover;
}

.justify{
  width: 600px;
  height: 500px;
  border: 2px solid red;
  margin: 0 auto;
  background-image: url(../BAHAN/avocado.jpg);
  background-repeat: repeat;
  background-size: 190px 175px;
  background-attachment: scroll;
  color: blue;
}

.repeat {
  width: 600px;
  height: 500px;
  border: 2px solid red;
  margin: 0 auto;
  background-image: url(../BAHAN/avocado.jpg);
  background-size: 190px 175px;
    background-repeat: repeat-x;
}
